* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.weather {
  display: flex;
  flex-direction: column;
  border: gray solid 1px;
  /* background-color: rgb(186, 236, 157) !important ; */
  background-image: url(https://images.pexels.com/photos/1631677/pexels-photo-1631677.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-repeat:no-repeat;
  background-size:     cover; 
min-height: 80vh;
  width: 90%;
}
.search-form {
  margin-bottom: 1rem;
  margin-top: 3rem;
  padding: 1rem;
  display: flex;

  justify-content: center;
}
.search-form form {
  width: 100%;
  display: flex;
  justify-content: center;
}
.search-form button {
  padding: 0.2rem 2rem;
  font-size: 1rem;
}
.search-form input {
  border: none;
  outline: none;
  font-size: 1.3rem;
  height: 2rem;
}
.label {
  margin-right: 1rem;
  border-radius: 10px;
  border: gray solid 1px;
  outline: none;
  height: 3rem;
  padding: 1rem 2rem;
  width: 25%;
  display: flex;
  height: 3.5rem;
}
.icon {
  position: absolute;
  left: 29rem;
  top: 8.4rem;
  width: 3vw;
}

.city-weather {
  font-size: 1rem;
  border: gray solid 1px;
  margin-bottom: 3rem;
  margin-top: 3rem;
  padding: 1rem;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.cityInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.remove-div {
  display: flex;
  flex-direction: row;
  width: 25rem;
  justify-content: space-between;
}
.remove-btn {
  background-color: transparent;
  border: none;
  max-width: 3rem;
  outline: none;
  cursor: pointer;
}
.delete {
  width: 2rem;
  font-size: 2.5rem;
}
.weather-desc {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 0;
}
.temp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}
.cardContainer{ background-color: rgb(83, 250, 222) !important}
.customCard{
  background-color: rgb(106, 229, 245) !important;
}
.cardHeader{
  background-color: #fff !important;
}

.temp p {
  margin: 0.2rem;
  padding: 0.2rem;
}
.chartSmall{margin-top: 10%;
}
@media  screen and (max-width: 600px) {
  *{
    font-size: .7rem !important;
  }
  .chartSmall{max-width: 80%;
    margin:30%  auto 0 auto ;
  }
   svg{
    height: 200 !important;
  }
  .temp {
    padding: .2rem;
  }
}